{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Catalyst Games</h1>
  <p>This app lets you browse our full game library, view details, and add a game to your cart.</p>
  <p>This is useful if you want to compare prices and platforms before buying.</p>
  <a class="btn" href="{{ url_for('games') }}">View Game Library</a>

  <!-- home page image -->
  <div class="home-image">
    <img src="{{ url_for('static', filename='game_banner.png') }}" alt="Catalyst Games Banner">
  </div>

  <!--Random announcment from micro service-->
  <section class="announcement-panel">
  <h2>Store Announcement</h2>
  <p>{{ announcement }}</p>

    <!-- Small green Service Status button -->
  <!-- Small green Service Status button (lower-left aligned) -->
  <div style="margin-top: 80px; text-align: left; width: 100%;">
    <a href="{{ url_for('service_status') }}"
      style="
        background-color: #28a745;
        color: white;
        padding: 8px 14px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 0.9rem;
      ">
      Check Microservice Status
    </a>
  </div>
</section>
{% endblock %}

